	/* Coded with love by Mutiullah Samim */
.container-fluid{
    // background: #60a3bc;
    padding-top: 11rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.user_card {
    //height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .4rem;
}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    //background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 4rem;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.additional_info
{
    a{
        color: rgba(192,57,2,.9);
    }
}

.oauth_container
{

    &:nth-child(even)
    {
        img{
            transform: scale(1.5);
        }
    }

    
    button
    {
        display: flex;
        align-items: center;
        background-color: rgba(2, 117, 216, .9);
        border-radius: .7rem;
        justify-content: space-between !important;
        transition: all .4s;

        img
        {
            width: 2rem;

        }

        span
        {
            border-left: 1px rgba(0,0,0,.35) solid;
            padding-left: 1.3rem;
            color: rgba(255,255,255,.9);
        }

        &:hover
        {
            background-color: rgba(45, 149, 240, 0.8);
        }
    }

}