

<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand"> Chatterbox <img class="talker_logo" src="../../assets/talker.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav w-100">
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['room-list']" [routerLinkActive]="['is-active']"><fa-icon [icon]="icons[1]"></fa-icon>Room list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['chat-with-user']" [routerLinkActive]="['is-active']"><fa-icon [icon]="icons[4]"></fa-icon>Chat with user</a>
        </li>
        <li class="nav-item"  *ngIf="this.authServ.userStored === null || this.authServ.userStored === undefined">
          <a class="nav-link" [routerLink]="['login']" [routerLinkActive]="['is-active']"><fa-icon [icon]="icons[2]"></fa-icon>Login</a>
        </li>
        <li class="nav-item"  *ngIf="this.authServ.userStored === null || this.authServ.userStored === undefined">
          <a class="nav-link" [routerLink]="['register']" [routerLinkActive]="['is-active']"><fa-icon [icon]="icons[5]"></fa-icon>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><fa-icon [icon]="icons[3]" [routerLinkActive]="['is-active']"></fa-icon>About</a>
        </li>
        <li class="nav-item" *ngIf="this.authServ.userStored !== null && this.authServ.userStored !== undefined">
          <a class="nav-link" [routerLink]="['messages']" [routerLinkActive]="['is-active']"><fa-icon [icon]="icons[9]"></fa-icon>Inbox</a>
        </li>
        <li class="nav-item" *ngIf="this.authServ.userStored !== null && this.authServ.userStored !== undefined">
          <a class="nav-link" [routerLink]="['send-message']" [routerLinkActive]="['is-active']"><fa-icon [icon]="icons[10]"></fa-icon>Send</a>
        </li>
        <li class="nav-item ml-auto" *ngIf="this.authServ.userStored !== null && this.authServ.userStored !== undefined">
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="nav-link btn btn-outline-primary d-flex flex-column align-items-center user_button" 
            id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
              <fa-icon [icon]="icons[0]"></fa-icon>Hi {{this.authServ.userStored?.name}}</button>

            <div ngbDropdownMenu aria-labelledby="dropdownManual" class="dropdown-menu dropdown-menu-right">
              <button ngbDropdownItem class="d-flex flex-row justify-content-between" [routerLink]="['profile']" [queryParams]="{id: this.authServ.userStored._id}">
                My profile <fa-icon [icon]="icons[7]"></fa-icon></button>
              <button ngbDropdownItem class="d-flex flex-row justify-content-between">Latest chat <fa-icon [icon]="icons[8]"></fa-icon></button>
              <hr class="my-1">
              <button ngbDropdownItem class="d-flex flex-row justify-content-between" (click)="logout()">Logout <fa-icon [icon]="icons[6]"></fa-icon></button>
            </div>
          </div>     
        </li>
      </ul>
    </div>
  </div>
</div>