.container-fluid
{
    padding-top: 6rem;
}

input
{
    border-right: none;
    border-left: none;
    border-top: none;
    transition: all .4s;

    &:focus
    {
        outline: none;
        //box-shadow: none;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
        transform: translateX(-1rem);
    }
}

textarea{
    resize: none;
}

.inv-back
{
    background-color: rgba(88,204,156, .25);
}

.del-back
{
    background-color: rgba(256,124,84, .25);
}