<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" *ngIf="this.pickedRoom!._id.length === 0">
          You didnt pick a room
        </div>
        <div class="card-header" *ngIf="this.pickedRoom!._id.length !== 0">
          Current room name is: {{this.pickedRoom?.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h5 class="card-title"></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <button class="btn btn-primary" [disabled]="!this.currentRoom">Send <fa-icon [icon]="icons[0]"></fa-icon></button>
          <button class="btn btn-outline-info"
          *ngIf="!this.currentRoom"
          [disabled]="this.pickedRoom!._id.length === 0"
          (click)="joinRoom()"
          >Join <fa-icon [icon]="icons[2]"></fa-icon></button>
          <input type="text" class="form-control mx-2 message_input" id="message_input" placeholder="Type something ..."
          *ngIf="this.currentRoom"
          >
          <button class="btn btn-warning" [disabled]="!this.currentRoom">Leave <fa-icon [icon]="icons[1]"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>