$spaceForDash: 3rem;

@mixin round_border_card
{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@mixin dash_attr
{
    width: 4rem !important;
    content:'' !important;
    border-top: .1rem solid rgba(0,0,0,.2);
    transform: translateY(.7rem);
}

.card
{
    padding: 0!important;
    @include round_border_card;
    min-height: 80vh;
    max-height: 82vh;

    .card-header
    {
        min-height: 4rem;

        .logged_as
        {
            display: inline-block;
            transform: translateY(.1rem) !important;
        }
    }

    .card-footer{

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        @include round_border_card;


        min-height:4rem;
        .btn
        {
            //transform: scale(1.6) ;
        }
    }

    input.message_input
    {
        display: inline-block;
        width: 50% !important;
    }

}

// popover ...
// ::ng-deep popover-container {
//     max-width: 100% !important;
//     background-color: black !important;
//     color: white !important;
//     position: absolute !important;
// }

// ::ng-deep .bs-popover-bottom>.arrow::after {
//     border-bottom-color: black !important;
//     display: none !important;
// }

.card-body
{
    overflow-y: scroll;
    padding-bottom: 1.5rem;

    &::-webkit-scrollbar
    {
        display: none;
    }

    .card-text.perform_content
    {
        padding: .75rem;
        background-color: rgba(101, 153, 201,.4);
        border-radius: 1rem;
        margin-top: 1rem;

        .perform_content_header
        {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            transform: translateY(-1.2rem);
        }


        span.badge-info
        {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 1.3rem;
        }

        span.badge-warning
        {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 1.3rem;
        }

        strong.message_content
        {
            //margin: 4rem;
            display: block;
            transform: translateY(-.5rem) !important;
        }
        .action_leave, .action_join
        {
           transform: translateY(-.5rem);
        }
    }

    .card-text.invitation_text
    {
        display: flex; 
        justify-content: center;
    }
    .card-text
    {
        strong.action_join, strong.action_leave
        {
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden !important;
            span{
                //text-decoration: underline;
                font-style: italic;
                padding-left: .3rem;
                padding-right: .3rem;
            }

            &::before
            {
                @include dash_attr;
                margin-right: $spaceForDash;
            }

            &::after
            {
                @include dash_attr;
                margin-left: $spaceForDash;

            }

        }
    }
}
