<div class="container">
  <div class="row">
    <div class="col-md-9 col-xs-12">
      <div class="card text-center">
        <div class="card-body" #msgContainer>
          <div class="empty-conv" *ngIf="this.messages.length === 0">
            <h5 class="card-title">That conversation is empty</h5>
            <p class="card-text">Write something funny eg. "I said hey, what's going on?"</p>
          </div>

          <p class="card-text invitation_text font-italic">Just try to be polite ;)</p>
          <div class="card-text perform_content" *ngFor="let message of messages" 
          triggers="mouseenter:mouseleave" placement="top">
            
            <div class="perform_content_header">
              <span *ngIf="message.action === 'MESSAGE'" class="badge badge-pill badge-info">{{message.nickname}}</span>
              <span class="badge badge-pill badge-warning">{{message.performAt | toAgoTime}}</span>
            </div>
            <strong *ngIf="message.action === 'MESSAGE'" class="message_content">{{message.message}}</strong>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <input class="form-control msg_input" type="text" [(ngModel)]="messageFromInput" #msgInput
          (keydown.enter)="sendMessage()" [readonly]="!this.selectedUserId" [placeholder]="this.selectedUserId ? 'What do you think?' : 
          'You are not able to write anything - pick user from list!'">
          <button class="btn btn-primary" (click)="sendMessage()" [disabled]='this.messageFromInput.length === 0 || !this.selectedUserId'>Send</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <h4 class="d-flex justify-content-between">
        <button class="btn btn-sm btn-primary" (click)="changeListStyle()">Switch</button>
        {{this.userListMode === 0 ? 'Friends' : 'All'}}
      </h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let friend of displayList" (click)="connectWithUser(friend._id, friend.key._id)"
        [ngClass]="{'active_user': this.selectedUserId && this.selectedUserId === friend._id}">
         <div class="d-flex flex-row justify-content-between align-items-center">
          <span>{{friend.login}}</span>
          <button class="btn btn-secondary btn-sm btn-to-profile d-flex flex-row justify-content-between"
          [routerLink]="['../profile']" [queryParams]="{'id': friend._id}">
            <fa-icon [icon]="icons[0]"></fa-icon>
            <span>Profile</span>
          </button>

         </div>
          
        </li>
      </ul>
    </div>
  </div>
</div>