<div class="container">
  <div class="row">
    <div class="col-md-9 col-xs-12">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <input class="form-control msg_input" type="text">
          <button class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <h4 class="d-flex justify-content-between">
        <button class="btn btn-sm btn-primary" (click) = "changeListStyle()">Switch</button>
        {{this.userListMode === 0 ? 'Friends' : 'All'}}
      </h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let friend of displayList" (click)="connectWithUser(friend._id, friend.key._id)">
         <div class="d-flex flex-row justify-content-between align-items-center">
          <span>{{friend.login}}</span>
          <button class="btn btn-secondary btn-sm btn-to-profile d-flex flex-row justify-content-between"
          [routerLink]="['../profile']" [queryParams]="{'id': friend._id}">
            <fa-icon [icon]="icons[0]"></fa-icon>
            <span>Profile</span>
          </button>

         </div>
          
        </li>
      </ul>
    </div>
  </div>
</div>