<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron">
                <h1 class="display-4">Basic dashboard</h1>
                <p class="lead">Here should go some info about 'how fantastic is that website'.</p>
                <hr class="my-4">
                <p>You don't gave anyone to talk to? Are you bored and fed up with life? Or maybe you are daft?
                    If you answered 'yes' to at least one question, then this website is especially for you!
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>
        </div>
    </div>
</div>